#jira-chart .jira-chart-search {
    padding: 10px 10px 0 10px;
}

#jira-chart .jira-chart-search .search-help {
    font-size: 10px;
}

#jira-chart #jira-chart-content {
    position: relative;
    z-index: 40;
    height: 470px;
    overflow: hidden;
    margin-top: 10px;
}

#jira-chart #jira-chart-content .jira-chart-img {
	margin : 0;
	padding : 0;
	overflow : hidden;
}

#chart-preview-iframe {
    border: none;
    height: 375px;
    width: 100%;
}

.jira-chart-macro-wrapper .info,
.jira-chart-macro-preview-container {
	text-align: center;
}

.jira-chart-macro-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.jira-chart-macro-wrapper{
	padding: 10px 0;
	display: inline-block;
}

.jira-chart-macro-wrapper .info a{
    text-decoration : none;
}

/**/
#jira-chart-macro-preview-contaier .aui-message {
	margin-top : -20px;
	margin-left : -19px;
	margin-right : -19px;
}

#jira-chart-content div.jira-chart-search-input.one-server {
    display: inline-block;
    width: 535px;
}

#jira-chart-content .jira-chart-option {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #CCCCCC;
    position: absolute;
    width: 100%;
    z-index: 50;
}

#jira-chart a.jirachart-display-opts-open, #jira-chart a.jirachart-display-opts-close {
    font-size: 14px;
    line-height: 27px;
}

#jira-chart a.jirachart-display-opts-open.disabled {
    opacity: .5;
    text-decoration: none;
    cursor: help;
    color: #838383;
}

#jira-chart .dialog-panel-body {
    padding: 0 !important;
}

#jira-chart .jira-chart-img .chart-img {
    text-align: center;
    padding-top: 2px;
    height: 375px;
    overflow: auto;
}

#jira-chart .jira-chart-img .aui-message-container {
   margin: 0 10px;
}

#jira-chart-content div.jira-chart-search-input {
    display: inline-block;
    width: 380px;
}

#jira-chart-content #jira-chart-servers.select {
    margin: 0 8px 1px;
    padding-top: 5px;
    max-width: 125px;
}

.jirachart-border {
    border: 1px solid #CCCCCC;
}

#jira-chart-content .jirachart-display-opts-close span {
    background: url(icon-expand-view-down.png) no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 3px 0;
}

#jira-chart-content a.jirachart-display-opts-open span {
    background: url(icon-expand-view-up.png) no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 3px 0;
}

#jira-chart-content .loading-data {
    margin-left: 250px;
    margin-top: 60px;
}

#jira-chart .moreToCome {
    padding-left: 10px;
}

#jira-chart .dialog-page-menu li button::-moz-focus-inner {
    margin: 0;
    padding: 0;
}

#jira-chart-inputsearch.one-server.long-field {
    max-width: 525px;
}

#jira-chart-inputsearch.search-text {
    max-width: 390px;
}

#jira-chart-content .jiraChartOption {
    padding: 8px 10px;
}

#jira-chart-macro-dialog-validation-error {
   color: red;
}
