div.refresh-macro {
    margin: 0;
    padding: 0.5em;
    border: solid 2px rgb(240, 240, 240);
    background-color: rgb(250,250,250);
    font-weight: bolder;
    font-size: 110%;
    color: rgb(5, 5, 5);
    display: none;
}

div.refresh-macro .spinner {
    padding: 0.4em;
    padding-right: 1em;
    vertical-align: middle;
}

div.refresh-issues-bottom {
    margin-top: 5px;
}

a.refresh-action {
    cursor: pointer;
}

span.refresh-action-group {
    padding-left: 7px;
}