#if($pdfExport)
<style type="text/css">
.jira-issue {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    display: inline-block;
    padding: 0 0 0 2px;
    font-size: 8pt;
}
.jira-issue .icon {
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0;
    height: 12px;
    min-width: 16px;
    text-align: left;
    text-indent: -9999em;
    vertical-align: text-bottom;
}

.jira-issue .jira-issue-key {
    background-position: 0 center;
    background-repeat: no-repeat;
    padding-left: 2px;
}

.jira-issue .jira-macro-single-issue-export-pdf {
    font-size: 6pt;
    padding: 2px 5px 4px;
    border-radius: 3px;
}

.jira-status {
    padding-left:0;
    padding-bottom:2px;
    font-size: 7pt;
}
.jira-issue .summary {
    padding:2px;
}

</style>
#end

#if ($isNoPermissionToView)
    <span class="jira-issue $generalUtil.htmlEncode($key)"><a class="issue-link" href="$clickableUrl">$key</a></span>
#elseif ($oAuthUrl)
    <span class="jira-issue lock-jira-issue $generalUtil.htmlEncode($key)"><a class=issue-link" href="$clickableUrl">$key</a><span class="oauth-msg"> - <a class="static-oauth-init" href="$oAuthUrl">$action.getText('jiraissues.oauth.linktext')</a> $action.getText('jiraissues.oauth.single.message')</span></span>
#else
    <span class="jira-issue#if($resolved) resolved#end" >
        <a href="$clickableUrl" class="jira-issue-key"><img class="icon" src="$iconUrl" />$generalUtil.htmlEncode($key)</a>
        #if($showSummary)
            -
            <span class="summary">$generalUtil.htmlEncode($summary)</span>
        #end
        <!-- The new status lozengens support for JIRA 6.2 or later. Otherwise we use the icon.-->
        #if($statusColor)
            #if($statusColor == "blue-gray")
                #set($statusColorPdf = "aui-lozenge-complete")
            #elseif($statusColor == "green")
                #set($statusColorPdf = "aui-lozenge-success")
            #elseif($statusColor == "yellow")
                #set($statusColorPdf = "aui-lozenge-current")
            #elseif($statusColor == "brown")
                #set($statusColorPdf = "aui-lozenge-moved")
            #elseif($statusColor == "warm-red")
                #set($statusColorPdf = "aui-lozenge-error")
            #else
                #set($statusColorPdf = "aui-lozenge-default")
            #end
            <span class="aui-lozenge aui-lozenge-subtle $statusColorPdf jira-macro-single-issue-export-pdf">$generalUtil.htmlEncode($status)</span>
        #else
            (<span class="jira-status"><img class="icon" src="$statusIcon" /> $generalUtil.htmlEncode($status)</span>)
        #end
    </span>
#end