.jira-issue {
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 0 0 0 2px;
    border-radius: 3px;
    display: inline-block;
    line-height: 14px;
    font-size: 12px;
}

.container {
    font-size: 12px;
}
.jira-issue .icon {
    min-width: 16px;
    text-align: left;
    text-indent: -9999em;
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 0;
    padding-right: 2px;
}

.jira-issue .issue-link {
    background-repeat:no-repeat;
    background-position: 0 center;
    padding-right: 2px;
    display: inline-block;
}

.wiki-content .jira-issue.resolved .issue-link {
    text-decoration: line-through;
}

.jira-status{
    color: #707070;
    font-weight: bold;
}

.table-jira-issue .no-result {
    padding: 5px;
    background: #F0F0F0;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    line-height: 14px;
}

.table-jira-issue .view-all {
    margin: 5px 0;
    display: block;
}

.table-jira-issue .key {
   white-space: nowrap;
   padding-right: 2px;
   vertical-align: top;
}

.table-jira-issue .status {
   white-space: nowrap;
   min-width: 45px; 
}
.content-container .table-jira-issue .confluenceTable {
    line-height: 14px;
    border-radius:2px;
    font-size: 12px;
}
.table-jira-issue .confluenceTh, .table-jira-issue .confluenceTd {
    padding: 7px 5px;
}
.table-jira-issue .icon {
    display: inline-block;
    vertical-align: bottom;
}
.issue-link .icon {
    display: inline-block;
    vertical-align: bottom;
}
.table-jira-issue .aui-lozenge, .jira-issue .aui-lozenge {
    background: #ccc;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 99%; /* cross-browser compromise to make the line-height match the font-size */
    margin: 0;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.table-jira-issue .aui-lozenge.aui-lozenge-subtle, .jira-issue .aui-lozenge.aui-lozenge-subtle {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
.table-jira-issue .aui-lozenge-success, .jira-issue .aui-lozenge-success {
    background-color: #14892c;
    border-color: #14892c;
    color: #fff;
}
.table-jira-issue .aui-lozenge-success.aui-lozenge-subtle, .jira-issue .aui-lozenge-success.aui-lozenge-subtle {
    background-color: #fff;
    border-color: #b2d8b9;
    color: #14892c;
}
.table-jira-issue .aui-lozenge-error, .jira-issue .aui-lozenge-error{
    background-color: #d04437;
    border-color: #d04437;
    color: #fff;
}
.table-jira-issue .aui-lozenge-error.aui-lozenge-subtle , .jira-issue .aui-lozenge-error.aui-lozenge-subtle {
    background-color: #fff;
    border-color: #f8d3d1;
    color: #d04437;
}
.table-jira-issue .aui-lozenge-current, .jira-issue .aui-lozenge-current {
    background-color: #ffd351;
    border-color: #ffd351;
    color: #594300;
}
.table-jira-issue .aui-lozenge-current.aui-lozenge-subtle, .jira-issue .aui-lozenge-current.aui-lozenge-subtle {
    background-color: #fff;
    border-color: #ffe28c;
    color: #594300;
}
.table-jira-issue .aui-lozenge-complete, .jira-issue .aui-lozenge-complete {
    background-color: #4a6785;
    border-color: #4a6785;
    color: #fff;
}
.table-jira-issue .aui-lozenge-complete.aui-lozenge-subtle, .jira-issue .aui-lozenge-complete.aui-lozenge-subtle {
    background-color: #fff;
    border-color: #e4e8ed;
    color: #4a6785;
}
.table-jira-issue .aui-lozenge-moved, .jira-issue .aui-lozenge-moved {
    background-color: #815b3a;
    border-color: #815b3a;
    color: #fff;
}
.table-jira-issue .aui-lozenge-moved.aui-lozenge-subtle, .jira-issue .aui-lozenge-moved.aui-lozenge-subtle {
    background-color: #fff;
    border-color: #ece7e2;
    color: #815b3a;
}